.footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    padding: 100px 0px;
    width: 1440px;
    height: 312px;
    background: var(--navy-blue);
}

.footer-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}