.hero {
    background: var(--navy-blue);
}

.title-hero {
    font-family: var(--font-family);
    text-align: center;
    color: var(--white);
}

.hero-button {
    background: var(--iris);
    cursor: pointer;
}

.hero-button :hover,
.hero-button :focus {
    color: #404bbf;
}